%TMPL:INCLUDE{"foswiki"}%
%ADDTOHEAD{"FIREBUGLITE13" text="
    <script language='javascript' type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/FirebugLitePlugin/firebug1.3/build/firebug.domplate.js'></script>
"}%
