%TMPL:INCLUDE{"foswiki"}%
%ADDTOHEAD{"FIREBUGLITE12" text="
    <script language='javascript' type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/FirebugLitePlugin/firebug1.2/firebug-lite.js'></script>
"}%
